body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#result-list {
  width: 100%;
  /* border: 1px solid black; */
  margin: 0 auto;
  /* visibility: hidden; */
  display: inline-block;
}
.box {
  /* display:inline-block; */
  width: 50vw;
  margin: 0 2%;
  display: block;
  box-shadow: 0 0 15px #9D8189;
  /* height: 100%; */
/* border: 1px solid black; */

}

.box-search {
  width: 25%;
  margin: 0 2%;
  display: inline-block;
}

#result-list #overlay {
  width: 20%;
  /* height: 10%; */
  z-index: 3;
/* cursor: pointer; */
/* display: hidden; */
margin: 4% auto;
/* padding: 3% 0; */
z-index: 2;
background-color: rgba(0,0,0,0.5);
position: absolute;
color: white;
text-align: center;
}

#overlay button {
  display: block;
  margin: 0 auto;
}


#result-list .recipe-image {
  width: 20vw;
  margin: 0 auto;
  display: block;
  vertical-align: top;
}

#side-bar {
  background-color: rgba(0,0,0,0.3);
  flex: 1;
  margin-right: 30px;
  height: 95vh;
  display: inline-block;
  vertical-align: top;
}
#side-bar p {

  margin: 7% 5%;
}



td {
  width: 15%;
  text-align: center;
  /* height: 5vh; */
  margin: 0 auto;
}

nav a, nav p {
  display: inline-block;
  margin: 1% 2%;
}

.container {
  display: flex;
  margin-right: 30px;
}

#nutrients {
  width: 30vw;
  margin: 2% auto;
  /* text-align: center; */
  box-shadow: 0 0 15px #9D8189;
}

#select-recipe {
  margin: 2% auto;
  display: inline-block;
  border: none;
  background-color: #FFCAD4;
  padding: 2%;
}
#select-recipe:hover {
  cursor:pointer;
  background-color: #9D8189;
  color: white;
}

#view-recipe {
  border: none;
  width: 10%;
}

#view-recipe button {
  border:none;
  background-color: #FFCAD4;
  padding: 2%;
  margin: 2%;
  display: inline-block;

}
#view-recipe button:hover {
  cursor:pointer;
  background-color: #9D8189;
  color: white;

}

.recipe-label {
  text-align: center;
}

#modal-buttons{
  margin: 0 auto;
  display: block;
  text-align: center;
}

#mealplan-table {
  flex: 5;
}

#mealplan-tabe td {
  padding: 10%;
}
